
	<nav class="pc-sidebar ">
		<div class="navbar-wrapper">
			<div class="m-header">
				<a href="index.html" class="b-brand">
				
					<img src="/static/assets/images/logo.svg" alt="" class="logo logo-lg">
					<img src="/static/assets/images/logo-sm.svg" alt="" class="logo logo-sm">
				</a>
			</div>
			<div class="navbar-content">
				<ul class="pc-navbar">
					<li class="pc-item pc-caption">
					{% if user.team == 'direction' %}
					</li>
				
					<li class="pc-item">
						<a href={% url 'direction' %} class="pc-link "><span class="pc-micon"><i class="material-icons-two-tone">home</i></span><span class="pc-mtext">Équipe de direction</span></a>
					</li>
					{% endif %}
					<li class="pc-item pc-caption">
					{% if user.team == 'commercial' or user.team == 'direction' %}	
					</li>

					<li class="pc-item">
						<a href="{% url 'commercial' %}" class="pc-link "><span class="pc-micon"><i class="material-icons-two-tone">table_rows</i></span><span class="pc-mtext">Équipe commerciale</span></a>
					</li>
					{% endif %}
					<li class="pc-item pc-caption">
					{% if user.team == 'comptable'  or user.team == 'direction' %}
					</li>
					<li class="pc-item">
						<a href="{% url 'comptable' %}" class="pc-link "><span class="pc-micon"><i class="material-icons-two-tone">bubble_chart</i></span><span class="pc-mtext">Équipe comptable</span></a>
					</li>
					{% endif %}
				
			
				</ul>
			
			</div>
		</div>
	</nav>
