{% extends "layouts/base.html" %}

{% block title %} DASH {% endblock %} 

<!-- Specific CSS goes HERE -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

	<!-- [ Main Content ] start -->
	<div class="pc-container">
		<div class="pcoded-content">
			<!-- [ breadcrumb ] start -->
			<div class="page-header">
				<div class="page-block">
					<div class="row align-items-center">
						<div class="col-md-12">
							<div class="page-header-title">
								<h5 class="m-b-10">DASH</h5>
							</div>
							<ul class="breadcrumb">
								<li class="breadcrumb-item"><a href="index.html">Home</a></li>
								<li class="breadcrumb-item"><a href="#!">Équipe</a></li>
								<li class="breadcrumb-item">Comptable</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
			<!-- [ breadcrumb ] end -->
			<div class="row">
			<div class="col-xl-6 col-md-12">
				<div>
					<div class="card-header">
						<h5>Chiffre D'affaire </h5>
					</div>
					<img src="data:image/png;base64,{{ ca|safe }}" width="600" height="450">
				</div>
			</div>
			<div class="col-xl-6 col-md-12">
				<div class="card-header">
					<h5>Comparaison du Chiffre d'Affaires Brut et Net avec les Frais de Transport </h5>
				</div>
				<div>
					<img src="data:image/png;base64,{{ value|safe }}" width="600" height="450">
				</div>
			</div>
			</div>
			<div class="row">
			<div class="col-xl-6 col-md-12">
				<div class="card-header">
					<h5>Chiffre D'affaire par an</h5>
				</div>
				<div>
					<img src="data:image/png;base64,{{ total|safe }}" width="600" height="450">
				</div>
			</div>
			<div class="col-xl-6 col-md-12">
				<div class="card-header">
					<h5>Cout du Transport par ville </h5>
				</div>
				<div>
					<img src="data:image/png;base64,{{ transport|safe }}" width="600" height="450">
				</div>
		
			</div>
			</div>


{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}

	<script src="/static/assets/js/plugins/apexcharts.min.js"></script>
	<script src="/static/assets/js/pages/chart-apex.js"></script>

{% endblock javascripts %}
